.btndngr {
    color: #ff003a!important;
    background-color: #fff!important;
    outline-color: #ff003a!important;
  }
  
  .btndngr:hover{
    outline-color: #fff!important;
    background-color: #ff003a!important;
    color: #fff!important;
  }

.btnsel:hover {
    color: #fff;
}

.btncel {
    color: r#ff003aed;
}

.btncel:hover {
    color: #ff003a;
}

.btnfin{
    background-color: #ff003a;
    color: #fff!important;
}