@media only screen and (max-width:1920px){
    .dt-body-gd{
        border-Color:#E7E7E7;
    }
    .dt-dv-pg-gd{
        margin-left:-68px;
        margin-top:10px;
        margin-bottom: -10px
    }
    .dv-luar-gd{
        background:#F8F9FA;
        padding-Right:20px;
        padding-Left:20px;
        overflow-X:"hidden";
    }
    .bd-dv-vd-gd{
        margin-Left:59px;
        margin-Top:70px;
    }
    .hr-dt-gd{
        width:290px;
    }
    .h5-tn-gd{
        font-Weight:600;
        margin-Top:-30px;
        font-family: 'Montserrat';

    }
    .img-cmt-gd{
        width:70px;
    }
    .input-cmt-gd{
        border-Style:none none solid none;
        border-Color:#E7E7E7;
        background-Color:transparent;
        width:650px;
        font-family: "Nunito",sans-serif;
        font-weight: 600;
    }
    .input-rpl-gd{
        border-Style:none none solid none;
        border-Color:#E7E7E7;
        background-Color:transparent;
        width:580px;
        font-family: "Nunito",sans-serif;
        font-weight: 600;
    }
    .dv-input-cmt-gd{
        margin-Top:20px
        /* margin-Left:30px; */
    }
    .sh-cmt-gd{
        /* marginTop:"-30px",marginLeft:"30px" */
        margin-top: 15px;
    }
    .submit-cmt-gd{
        margin-left: 550px;
    }
    .submit-rpl-gd{
        margin-left: 480px;
    }
    .ls-dv-mg-gd{
        margin-Left:-55px;
    }
    .dv-out-vd-gd{
        /* margin-top: 0px; */
        /* margin-left: 30px; */
        overflow-x: hidden;
    }
}
@media only screen and (max-width:400px){
    .dt-body-cl{
        border-Color:#E7E7E7;
    }
    .dt-dv-pg-cl{
        margin-left:-10px;
        margin-top:20px;
    }
    .img-cmt-cl{
        width: 30px;
    }
    .bd-dv-cl{
        margin-Top:50px;
    }
    .input-cmt-cl{
        border-Style:none none solid none;
        border-Color:#E7E7E7;
        background-Color:transparent;
        width:200px;
        font-family: "Nunito",sans-serif;
        font-weight: 600;
    }
    .dv-input-cmt-cl{
        margin-Top:-30px;
        margin-Left:30px;
    }
    .sh-cmt-cl{
        margin-Top:-30px;
        margin-Left:30px;
    }
    .submit-cmt-cl{
        margin-left:100px;
    }
    .ls-dv-mg-cl{
        margin-left: -20px;
    }
    .dv-out-vd-cl{
        margin-left: 0px;
    }
}
@media only screen and (max-width:500px){
    .img-cmt-cl{
        width: 35px;
    }
    .input-cmt-cl{
        border-Style:none none solid none;
        border-Color:#E7E7E7;
        background-Color:transparent;
        width:250px;
        font-family: "Nunito",sans-serif;
        font-weight: 600;
    }
    .dv-input-cmt-cl{
        margin-Top:-30px;
        margin-Left:30px;
    }
    .submit-cmt-cl{
        margin-left:160px;
    }
    .sh-cmt-cl{
        margin-Top:-35px;
        margin-Left:30px;
    }
    .dt-dv-pg-cl{
        margin-left:-10px;
        margin-top:20px;
    }
    .ls-dv-mg-cl{
        margin-left: -20px;
    }
}