@media only screen and (max-width:1920px){
    .dv-out-gd{
        overflow-x: hidden;

    }
    .bd-dv-qz-gd{
        margin-Left:55px;
        margin-Top:80px;
    }
    .h3-gd{
        margin-top: 30px;
        font-Weight:600;
        margin-Left:80px;
        margin-Bottom:30px;
        font-family: 'Montserrat';

    }
    .dv-md3-gd{
        margin-Left:-10px;
        margin-Top:10px;
    }
    .h5-gd{
        font-Weight:600;
        margin-Bottom:10px;
        margin-Left:-60px;
        margin-Top:55px;
        font-family: 'Montserrat';
    }
    .hr-gd{
        width:750px;
        margin-left: 75px;
    }
    .ls-dq-gd{
        margin-left: -55px;
    }
}
@media only screen and (max-width:600px){
    .bd-dv-cl{
        margin-left: -50px;
    }
    .ls-dq-cl{
        margin-left: 70px;
    }
    .h5-cl{
        font-Weight:600;
        margin-Bottom:10px;
        margin-Left:90px;
        margin-Top:55px;
        font-family: 'Montserrat';
    }
}