@media only screen and (max-width:1920px){
    .dt-body-gd{
        border-Top:solid;
        border-Color:#E7E7E7;
    }
    .dt-dv-pg-gd{
        margin-left:-15px;
        margin-top:10px;
      }
}
@media only screen and (max-width:600px){
    .dt-body-cl{
        border-Top:solid;
        border-Color:#E7E7E7;
    }
    .dt-dv-pg-cl{
        margin-left:-70px;
        margin-top:20px;
      }
}