@media only screen and (max-width:1920px){
    .dt-body-gd{
        border-Top:solid;
        border-Color:#E7E7E7;
    }
}
@media only screen and (max-width:600px){
    .dt-body-cl{
        border-Top:solid;
        border-Color:#E7E7E7;
    }
}