.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}
@media only screen and (min-width: 600px) {
   .submitbutton{
	   margin-left: 500px;
   }
}
@media only screen and (max-width:600px){
	.submit-cl{
		margin-left: 100px
	}
	.submit-btn-cl{
		margin-left: 100px;
	  }

}
@media only screen and (max-width:1920px){
	.disscuss-vd-gd{
		font-Weight:500;
		margin-Left:-15px;
		margin-Bottom:30px;
		font-family: 'Montserrat';
	}
}