
/* ====================
  Footer Section
=======================*/

.Hom {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f7f7f7;
  }

.Hom-footer{
    background-color: #e9ecef
}


.footer-section {
    background-position: center -5px;
    background-color: #111111;
    text-align: center;
}

.copyright {
    color: #666;
    margin-bottom: 0;
    font-size: 14px;
}

