.landingage {
    background-color: #FF4141;
    color: #fff;
    padding: 50px 100px 20px 100px;
}

.pertama {
    margin: 10px 0 0px 0;
}

.duaaa {
    margin: -5px 0 -5px 0;
}

.copiret {
    padding-top: 20px;
}

.judulfot {
    margin-top: 30px;
}