*, body{
    margin: 0;
    padding: 0;
}

@-ms-viewport{
    width: device-width;
  }

  .responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
.Hom {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f7f7f7;
    overflow-x: hidden;
  }

 .hom-b{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    overflow-x: hidden;
 } 

.Hom-body {
  background-color: #f7f7f7;
  overflow-x: hidden;
}

.hom-a {
    background-color: #fff;
    overflow-x: hidden;
}

.timer {
    text-align: center;
    margin-bottom: 20px;
    transform: scale(0.80); 
}

.reg {
    width: 210px;
    padding: 13px 0 13px 0;
    transform: scale(0.90); 
}

.reg-b {
    width: 200px;
    margin-top: 15px;
    padding: 10px;
}

.lengkap {
    width: 210px;
    padding: 13px;
    transform: scale(0.90); 
}

.gmbrlanding {
    background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(253, 245, 255, 0.8) ), url("https://cdn-images-1.medium.com/max/2600/0*LWGNRvaAD7jRra_L.");
    width: 100%;
    padding: 0;
    background-size: cover;
    height: 1000px;
    padding: 20px;
}

.gmbrlanding1 {
    background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(253, 245, 255, 0.8) ), url("../img/covbg.jpg");
    width: 100%;
    padding: 0;
    background-size: cover;
    height: 1000px;
    padding: 20px;
}

.gmbrlanding2 {
    background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(253, 245, 255, 0.8) ), url("https://assets-a2.kompasiana.com/items/album/2018/04/17/technology-5ad5eae9dcad5b46970bc882.jpg?t=o&v=760");
    width: 100%;
    padding: 0;
    background-size: cover;
    height: 1000px;
    padding: 20px;
}

.soo {
    padding: 30px 0 30px 0;
    overflow-x:hidden;
    background-color: #f7f7f7;
}

.title {
    color: red;
    margin-top: 50px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 350px 0 350px;
    height: 100%;
    background-position: top center;
    transform: scale(0.95); 
}

.titleb{
    color: red;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-position: top center;
    transform: scale(0.95); 
}

.harga {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: top center;
}

.keterangan {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.penjelasan {
    padding: 20px 0 20px 175px;
}

.image {
    max-width: 100%;
    height: auto;
    margin-Left:'150px';
    position:'absolute';
}

section#silabus{
    position: relative;
    width: 80%;
    text-align: center;
    min-height: 250px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    border-radius: 6px;
    margin-bottom: 20px;
    background-color:  #fff;
    box-shadow: 0 0 7px 0px rgba(136, 136, 136, 0.2);
}

section#batch{
    position: relative;
    width: 80%;
    text-align: center;
    min-height: 250px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    border-radius: 6px;
    margin-bottom: 20px;
    background-color:  #fff;
    box-shadow: 0 0 7px 0px rgba(136, 136, 136, 0.2);
}

.Hom-profile{
  height: 100vmin;
  justify-content: flex-start;
}

section#box-profile{
   position: relative;
   width: 80%;
   min-height: 250px;
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 60px;
   border-radius: 6px;
   margin-bottom: 20px;
   background-color:  #fff;
   box-shadow: 0 0 7px 0px rgba(136, 136, 136, 0.2);
}
#box-profile .img-profile{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 300px;
    float: left;
    margin-top: -10px;
    top: 25px;
    margin-left: 20px;
}
.img-profile .photo{
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -20px;
    border-radius: 300px;
}
.description{
    position: relative;
    width: 400px;
    display: inline-block;
    float: left;
    align-self: center;
    justify-content: center;
    top: 50px;
    margin-left: 40px;
    font-family: sans-serif;
    border-right: 1px solid #efefef;
}
.description h1{
    font-size: 32px;
    margin-bottom: 14px;
}
.description p{
    color: #888;
}
.description .button{
    margin-top: 40px;

}

.information{
    position: relative;
    display: inline-block;
    float: left;
    text-align: left;
    font-family: sans-serif;
    top:45px;
    margin-left: 30px;
}
.information .data{
    display: block;
    width: 100%;
    margin-bottom: 4px;
    height: 36px;
}
.information p.field{
    font-weight: 600;
    width: 150px;
    color: #333;
}
.information .data p{
    float: left;
}

.button{
    position: relative;
    padding:  15px 30px 15px 30px;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    border-radius: 3px;
}

.bg-green{
    background-color: #52dc90;
    color: #fff;
    border: 1px solid #52dc90;
    box-shadow:  0 0 7px 0px #52dc90;
}
.bg-blue{
    background-color: #55a8fd;
    color: #fff;
    box-shadow:  0 0 7px 0 px #55a8fd;
    border: 1px solid #55a8fd;
}

.btn-primary{
  margin-top: 20px;
}

.btn-outline-primary{
  margin-top: 20px;
  margin-left: 15px;
}

.buton{
  width: 500px;
  height: 50px;
}

.border-blue{
    color: #55a8fd;
    border: 1px solid #55a8fd;
}

.txt{
    width: 1200px;
}

.botcam{
    margin-bottom: 20px;
}

.desc{
    text-align: left;
}

.modul{
    color:#212529;
}

.modul:hover {
    text-decoration: none;
    color: #212529;
}

.deck{
    margin:  20px 5px 20px 5px;
}

.crdbdy{
    text-align: left;
}

.btnmodule {
    margin-left: 30%;
}

.image-silabus{
    width: 349px;
    height: 262px;
}
.progressbar-silabus{
    margin-left:10px;
    
}
.bar{
    height: 100%;
}
.image-menu-silabus{
    width: 20px;
    height: 20px;
    margin-right: 40px;
}
.listgrup-silabus{
    text-align: left;
    margin-top: 40px;
}
.ListGrup-Silabus{
    text-align: left;
}
.saya{
    margin-top: 30px;
}

.listbatch:hover {
    text-decoration: none;
}

.btnbatch {
    margin-left:920px;
    margin-bottom: 15px;
}

.alrt{
    text-align: center;
}

.silab{
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
}

.bat{
    text-align: left;
    margin-left: 20px;
    margin-top: 5px;
}

.garis {
    border-width: 1;
    border: black;
    width: 100%;
}

.knan {
    margin-left: -3%;
}

@media only screen and (max-width: 767px) {
    .knan {
        margin-left: 0%;
    }

    .title {
        color: red;
        margin-top: 50px;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 50px 0;

        background-position: top center;
        transform: scale(0.95); 
    }
  }

.homevideo {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
