  .lockedctn{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/Mv4sg6_6qmE/650x240");
    background-repeat: no-repeat;
    height: 165px;
    width: 260px;
    opacity: 0.2
  }

.bg-overlay{
  position: static;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #8b8b8b;
  z-index: -0;
  cursor:pointer;
  left: 0;
  right:0;
  bottom:0;
  top:0;
}

.overlay-text{
  position: fixed;
  display:inline-block;
  top: 50%;
  left: 50%;
  font-size: 20px;
  color: red;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.locked{
  position: fixed;
  display:block;
  top: 40%;
  left: 50%;
  font-size: 50px;
  color: red;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.plybtn {
  background: transparent;
  width: 62px;
  border: none;
  opacity: 0.6;
  display: flex;
  align-content: center;
  margin-top: 42px;
}