.ini{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/Mv4sg6_6qmE/650x240");
  background-repeat: no-repeat;
  height: 170px;
  width: 265px;
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.text{
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.plybtn {
  background: transparent;
  width: 62px;
  border: none;
  opacity: 0.6;
  display: flex;
  align-content: center;
  margin-top: 42px;
}

.playlah{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/95YRwf6CNw8/450x250");
  background-repeat: no-repeat;
  background-size: "100px 50px"
}

.loh{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/F2WX4BTIkpQ/650x240");
  background-repeat: no-repeat;
  height: 170px;
  width: 265px;
}

.nikuis{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/ZSPBhokqDMc/550x240");
  background-repeat: no-repeat;
  height: 170px;
  width: 265px;
}

.sociallocker {
	background-color: #EEEEEE;
	text-align: center;
	position: relative;
	max-width: 500px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius:10px;
}

.sociallocker-overlay {
	background-color: rgba(0,0,0,0.6);
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	transition: all 0.2s ease;
}

.sociallocker-overlay i {
	margin-right: 10px;
}

.sociallocker:hover #sociallocker-overlay {
	top: -100%;
	transition: all 0.2s linear;
}

.sociallocker:hover #sociallocker-content {
	top: 100%;
	transition: all 0.2s linear;
}

.sociallocker-content a {
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	background-color: #777777;
	color: #f9f9f9;
	border-radius: 4px;
	font-weight: bold;
}

.sociallocker-overlay,
.sociallocker-content,
.sociallocker-links {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
}

.sociallocker-content {
	background-color: #ccc;
	transition: all 0.2s ease;
}

@media only screen and (max-width:1920px){
  .scrollbar {
    margin-left: 30px;
    float: left;
    height: 500px;
    width: 300px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
  }
  .force-overflow {
    min-height: 450px;
  }

  .scrollbar-primary::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
  }

  .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #C9C9C9; 
  }

  .scrollbar-danger::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
  }

  .scrollbar-danger::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
  }

  .scrollbar-danger::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ff3547; 
  }

  .scrollbar-warning::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
  }

  .scrollbar-warning::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
  }

  .scrollbar-warning::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FF8800; 
  }
  .kotak{
    width: 800px;
    background-color: white;
    position: relative;
    padding-left: 50px;
    justify-content: center;
    box-shadow: 0 0 7px 0px rgba(136, 136, 136, 0.329);
    margin-top: 50px;
    align-items: center;
  }

  .scrollbar-success::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
  }

  .scrollbar-success::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
  }

  .scrollbar-success::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00C851; 
  }

  .scrollbar-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
  }

  .scrollbar-info::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
  }

  .scrollbar-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #33b5e5; 
  }

  .scrollbar-default::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
  }

  .scrollbar-default::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
  }

  .scrollbar-default::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #2BBBAD; 
  }

  .scrollbar-secondary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
  }

  .scrollbar-secondary::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
  }

  .scrollbar-secondary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #aa66cc; 
  }
}
@media only screen and (max-width:600px){
  .scrollbar-cl {
    margin-left: -50px;
    float: left;
    height: 500px;
    width: 300px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
  }
  .force-overflow {
    min-height: 450px;
  }

  .scrollbar-primary::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
  }

  .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4; 
  }

  .scrollbar-danger::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
  }

  .scrollbar-danger::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
  }

  .scrollbar-danger::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #ff3547; 
  }

  .scrollbar-warning::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
  }

  .scrollbar-warning::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
  }

  .scrollbar-warning::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #FF8800; 
  }
  .kotak{
    width: 800px;
    background-color: white;
    position: relative;
    padding-left: 50px;
    justify-content: center;
    box-shadow: 0 0 7px 0px rgba(136, 136, 136, 0.329);
    margin-top: 50px;
    align-items: center;
  }

  .scrollbar-success::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
  }

  .scrollbar-success::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
  }

  .scrollbar-success::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00C851; 
  }

  .scrollbar-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
  }

  .scrollbar-info::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
  }

  .scrollbar-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #33b5e5; 
  }

  .scrollbar-default::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
  }

  .scrollbar-default::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
  }

  .scrollbar-default::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #2BBBAD; 
  }

  .scrollbar-secondary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
  }

  .scrollbar-secondary::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5; 
  }

  .scrollbar-secondary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #aa66cc; 
  }
}
    
