.text-title{
    padding: '0 0 0 200px'
}

input {
	outline: none;
	border: none;
}

.persegilog{
  position:absolute;
  top: 0%;
  left: 0%;
  width: 500px;
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 0 20px 1px rgba (0,0,0,0.2);
  margin-bottom: 50px;
}

.persegilog input{
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 12px;
}

.persegilog input:hover{
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #999;
}

.persegilog :valid{
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

.persegilog input{
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #999;
  font-size: 12px;
}

.persegilog input [type="submit"]
{
  font-family:'Open Sans, helvetica, Arial, sans serif';
  border-bottom: none;
  cursor: pointer;
  background: grey;
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
  left: 10px;
  font-size: 12px;
}

.persegilog form div {
  position: relative;
}
.persegilog form div label {
  font-family:'Open Sans, helvetica, Arial, sans serif';
  position: absolute;
  top: 10px;
  left: 0;
  color: #999;
  transition: .5s;
  pointer-events: none;
  font-size: 12px;
}

.persegilog input:focus ~ label  
{
  font-family:'Open Sans, helvetica, Arial, sans serif';
  top: -12px;
  left: 0;
  color: grey;
  font-size: 12px;

}

.msk {
    background-color: #FFF;
    height: 100%;
    overflow: hidden;
}

.btnmsk {
  padding: 15px 170px 15px 170px;
  border-radius: 0; 
  box-shadow: 0 0 15px 0 rgba(136, 136, 136, 0.4);
  font-family: helvetica, Arial, sans serif;
}


@media only screen and (max-width: 550px) {
  .persegireg {
      width: 450px;    
  }
  .btnmsk {
      padding: 15px 150px 15px 150px;
      border-radius: 0; 
      box-shadow: 0 0 15px 0 rgba(136, 136, 136, 0.4);
      font-family: helvetica, Arial, sans serif;
    }
}


@media only screen and (max-width: 470px) {
  .persegilog {
      width: 350px;    
  }
  .btnmsk {
      padding: 15px 100px 15px 100px;
      border-radius: 0; 
      box-shadow: 0 0 15px 0 rgba(136, 136, 136, 0.4);
      font-family: helvetica, Arial, sans serif;
    }
}

.isiform {
  color: #666666;
  font-weight: 325;
  font-family: Open Sans, helvetica, Arial, sans serif;
  font-size: 1.48500000em;
  display: block;
  margin: 33px 0 39px 0;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: 15px;
  position: relative;
  z-index: 1;
}

.input[type="text"] {
  width: 100%;
  border: 0;
  padding: 20px 20px 20px 50px;
  background: #FFF;
  font-size: 12px;
}

