.text-title{
  padding: '0 0 0 200px'
}

.welcome {
  color: #3b3b3b;
  font-weight: 550;
  font-family: 'Montserrat';
  font-size: 2.15000000em;
  display: block;
  text-align: left;
  margin-left: -10px;
}

.registe {
  background-color: #FFF;
  height: 100vh;
  overflow: hidden;
}

/* box login */
.persegilogin{
  position:absolute;
  top: 0%;
  left: 0%;
  width: 500px;
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 0 20px 1px rgba (0,0,0,0.2);
  margin-bottom: 50px;
}

.persegilogin input{
  font-family:'Montserrat';
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 1px solid lightgrey;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 14px;
}

/* ceklist input form */
.ceklist {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 12px;
}

.persegilog input [type="submit"]
{
  font-family:'Montserrat';
  border-bottom: none;
  background: lightgrey;
  color: #fff;
  margin-bottom: 0;
  left: 10px;
  font-size: 14px;
}

.persegilogin form div {
  position: relative;
}
.persegilogin form div label {
  font-family:'Montserrat';
  position: absolute;
  top: -12px;
  left: 0;
  color: #999;
  transition: .5s;
  pointer-events: none;
  font-size: 14px;
}

/* button masuk */
/* text */
.masuk {
    background-color: #FFF;
    height: 100%;
    overflow: hidden;
}

/* button */
.btnmasuk {
  padding: 15px 170px 15px 170px;
  border-radius: 0; 
  box-shadow: 0 0 15px 0 rgba(136, 136, 136, 0.4);
  font-family: 'Montserrat';
  font-weight: 500;
}

/* text under buttom */
/* text 1 */
.textpass{
  color: #666666;
  text-align: center;
  font-size: 15px;
  font-weight: -200;
  font-family: 'Lato';
  margin-top: 10px;
  margin-bottom: 10px;
}

/* text 2 red text */
.redtext {
  color: red;
}


@media only screen and (max-width: 550px) {
  .persegilogin {
      width: 450px;  
      box-shadow: 0 0 20px 1px rgba (0,0,0,0.2);  
  }
  .btnmsk {
      padding: 15px 150px 15px 150px;
      border-radius: 0; 
      box-shadow: 0 0 15px 0 rgba(136, 136, 136, 0.4);
      font-family: 'Montserrat';
    }
}


@media only screen and (max-width: 470px) {
  .persegilogin {
      width: 350px; 
      box-shadow: 0 0 20px 1px rgba (0,0,0,0.2);   
  }
  .btnmsk {
      padding: 15px 100px 15px 100px;
      border-radius: 0; 
      box-shadow: 0 0 15px 0 rgba(136, 136, 136, 0.4);
      font-family: 'Montserrat';
    }
}
.password{
  display: block;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  color: #727272;
}
.password__input{
  display: block;
  text-transform: none;
  width: 100%;
  height: 42px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #FFF;
  font-weight: 400;
  color: #212121;
}
.password:focus,:active{
  border-color: #00BCD4;
  outline: 0;
}
.password__show{
  cursor: pointer;
  position: absolute;
  bottom: 11px;
  height: 16px;
  right: 0;
  /* background: #727272; */
  /* color: white; */
  padding: 4px 8px;
  /* border-radius: 4px; */
  font-weight: 700;
  font-size: .8em;
}