.isii{
    /* margin: 0 15% 0 15%; */
    height: 100%;
    overflow: hidden;
    background-color: #fff;
}

.sqare{
    width: 800px;
    background-color: white;
    position: relative;
    padding-left: 50px;
    justify-content: center;
    box-shadow: 0 0 20px 1px rgba(136, 136, 136, 0.4);
    border-radius: 4px;
    margin-top: 65px;
    align-items: center;
}

.kontener{
    margin-top: 50px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.butuh {
    font-family: 'Montserrat';
    height: 50px;
    text-align: left;
    color:black; 
    font-weight: 600; 
    /* font-size: 25px; */
    margin-top: 30px;
}

.silahkan {
    height: auto;
    color: #313131;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
}

.plsconfrm {
    height: auto;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 20px;
    color: #313131;
    font-weight: 525;
    font-family: 'Montserrat';
}

.bca{
    font-size: 20px;
    font-weight: 650;
    font-family: 'Nunito';
}

.mandiri {
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: 650;
    font-family: 'Nunito';
}

.norek{
    margin-top: 20px;
    margin-bottom: 50px;
}

.rekman{
    margin-top: 15px;
}

.nophone {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Nunito';
}

.icobca {
    width: 15%;
    margin-right: 20px;
}

.icoman {
    width: 15%;
    margin-right: 20px;

}

.icotel {
    width:8%;
    margin-right: 10px;
}

.icowa {
    width: 8%;
    margin-left: 15px;
    margin-right: 10px;
}


@media only screen and (max-width: 1920px) {
    .sqare{
		margin-top: 25vh;
	}
}

@media only screen and (max-width: 1680px) {
    .sqare{
		margin-top: 20vh;
	}
}

@media only screen and (max-width: 1440px) {
    .sqare{
		margin-top: 100px;
	}
}


@media only screen and (max-width: 1366px) {
    .sqare{
        margin-top: 80px;
	}
}


@media only screen and (max-width: 800px) {
    .sqare {
        width: 700px;
        padding: 0 25px 0 25px;
    }
    .butuh {
        height: 50px;
        text-align: left;
        color:black; 
        font-weight: 600; 
        font-size: 25px;
        margin-top: 30px;
    }
    .silahkan {
        height: auto;
        color: #313131;
        font-weight: 400;
        font-family: 'Nunito', sans-serif;
        font-size: 1.1em;
    }

    .icotel{
        width: 5%;
    }

    .icowa{
        width: 6%;
    }
}
@media only screen and (max-width: 700px) {
    .sqare {
        width: 600px;
    }
}

@media only screen and (max-width: 600px) {
    .kotak {
        width: 500px;
    }
    .butuh {
        height: 60px;
        text-align: left;
        color:black; 
        font-weight: 600; 
        font-size: 23px;
        margin-top: 30px;
    }
    .silahkan {
        height: auto;
        color: #313131;
        font-weight: 400;
        font-family: 'Nunito', sans-serif;
        font-size: 1em;
    }
}

@media only screen and (max-width: 500px) {
    .sqare {
        width: 400px;
    }
    .butuh {
        height: 65px;
        text-align: left;
        color:black; 
        font-weight: 600; 
        font-size: 20px;
        margin-top: 30px;
    }
    .silahkan {
        height: auto;
        color: #313131;
        font-weight: 400;
        font-family: 'Nunito', sans-serif;
        font-size: 0.9em;
    }

    .bca {
        font-size: 15px;
    }

    .mandiri {
        font-size: 15px;
    }

    .icotel{
        width: 7%;
    }

    .icowa{
        width: 8%;
    }
}

@media only screen and (max-width: 400px) {
    .sqare {
        width: 300px;
        height: 500px;
    }
    .butuh {
        height: 100px;
        text-align: left;
        color:black; 
        font-weight: 600; 
        font-size: 25px;
        margin-top: 30px;
    }
    .silahkan {
        height: auto;
        color: #313131;
        font-weight: 400;
        font-family: 'Nunito', sans-serif;
        font-size: 1.1em;
    }

    .bca {
        font-size: 17px;
    }

    .mandiri {
        font-size: 17px;
    }

    .icoman {
        width: 30%;
    }

    .icobca {
        width: 30%;
    }

    .icotel{
        width: 9%;
    }

    .icowa{
        width: 10%;
    }
}

@media only screen and (max-width: 375px) {
    
    .sqare{
		margin-top: 70px;
	}
}

@media only screen and (max-width: 360px) {    
    .sqare{
		margin-top: 50px;
	}
}

@media only screen and (max-width: 320px) {

    .sqare{
		margin-top: 30px;
	}
}

@media only screen and (max-height: 730px) {
    .isii{
        overflow: auto;
        overflow-x: hidden;
    }
}