body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

img {
    max-width: 100%;
}

.txthead{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: #222;
}

p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 28px;
    /* color: #999; */
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

.spad {
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #fff;
}


.section-title {
    text-align: center;
    margin-bottom: 70px;
}

.section-title h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    color: #000;
}

.section-title p {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.site-btn {
    font-size: 12px;
    background: #ffbc00;
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 50px;
    min-width: 160px;
    cursor: pointer;
    -webkit-box-shadow: 0px 20px 50px 0px rgba(55, 56, 56, 0.2);
    box-shadow: 0px 20px 50px 0px rgba(55, 56, 56, 0.2);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.site-btn:hover {
    color: #fff;
    background: #333;
}

/* ====================
  Head Section
=======================*/

/* 
.fh5co-social-icons {
    margin: 0;
    padding: 0;
  }
  .fh5co-social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  .fh5co-social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #FF9000;
    padding-left: 10px;
    padding-right: 10px;
  }
  .fh5co-social-icons li a i {
    font-size: 20px;
  }

.fh5co-cover {
  background-color: rgba(0,0,0,0.5);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 600px;
  width: 100%;
} */

/* ====================
  About Section
=======================*/

.kiela{
    background-color: #fff;
}

.kiri{
    text-align: left;
    color: #fff;
    list-style-type: none;
    margin-top: 4%;
    background-color: #f7f7f7;
    transform: scale(0.90); 
    transform-origin: left top;
}

.kanan{
    text-align: right;
    color:#fff;
    margin-bottom: 4%;
}

li{
    list-style-type: none;
}

.about-text {
    padding-top: 20px;
}

.about-text h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 5px;
}

.about-text h5 {
    font-size: 14px;
    color: #c3c3c3;
}

.about-text p span {
    color: #ffbc00;
    font-weight: 600;
}

.about-title {
    margin-bottom: 30px;
}

.single-progress-item {
    margin-bottom: 45px;
    position: relative;
}


.single-progress-item p {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 7px;
    margin-bottom: 0px;
    color: #333;
}

.edit{
    margin-right: 20px;
}

/* ====================
  Resume Section
=======================*/

.resum{
    background-color: #f7f7f7
}

.resume-section {
    background: #f7f7f7;
}

.resume-item {
    margin-bottom: 70px;
}
 
.resume-item .resume-year {
    float: left;
    width: 170px;
    position: relative;
}

.resume-item .resume-year:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    right: 25px;
    top: 8px;
    border-radius: 20px;
    background: #ffbc00;
}

.resume-item .resume-year h2 {
    font-size: 30px;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.resume-item .resume-text {
    margin-left: 200px;
    padding-top: 2px;
}

.resume-item .resume-text h3 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px;
}

.resume-item .resume-text p {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* ====================
  Contact Section
=======================*/

.cont-info {
    text-align: center;
    margin-bottom: 50px;
}

.cont-info i {
    display: block;
    font-size: 35px;
    margin-bottom: 15px;
}

.cont-info a,
.cont-info span {
    color: #333;
    font-size: 15px;
    font-weight: 600;
}

.cont-info a {
    text-decoration: none;
}

.cont-info p {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.jdl{
    padding-top: 3%;
}

.raport {
    background-color: #f7f7f7;
}