ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #FF003A;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 60%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: #FF003A;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #FF003A;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.joinbootcamp {
  color: #3B3B3B;
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 36px;
  display: block;
  margin-left: -5px;
}

.profilebootcamp {
  color: #666666;
  font-weight: 400;
  font-family: 'Nunito';
  font-size: 23.5px;
  font-weight: 500;
  display: block;
  margin: 15px 0 75px 0;
}

.pgpro {
  margin-top: 64px;
  background-color: #FFF;
  /* height:; */
}

/* box profile */
.persegiprofile{
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  box-shadow: 0 0 20px 1px rgba(136, 136, 136, 0.4);
  background: #fff;
  padding: 40px;
  margin-bottom: 50px;
}

.divbtncando{
  padding-top: -25px;
}
/* The radio */
.radio {
 
  display: flex;
 position: relative;
 padding-left: 30px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 20px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 font-family: 'Nunito';
 font-weight: 550;
 user-select: none
}

/* Hide the browser's default radio button */
.radio input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
}

/* Create a custom radio button */
.checkround {

 position: absolute;
 top: 4px;
 left: 0;
 height: 17px;
 width: 17px;
 background-color: #fff ;
 border-color:#f8204f;
 border-style:solid;
 border-width:2px;
  border-radius: 50%;
}


/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkround {
 background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
 content: "";
 position: absolute;
 display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
 display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkround:after {
  left: 2px;
 top: 1.5px;
 width: 9px;
 height: 9px;
 border-radius: 50%;
 background:#f8204f;
 

}


.parttext {
  color: #000;
  font-weight: 700;
  font-family:'Montserrat';
  font-size: 25px;
  display: block;
  text-align: left;
}

.parttextprojects {
  color: #000;
  font-weight: 700;
  font-family:'Montserrat';
  font-size: 25px;
  display: block;
  text-align: left;
  margin-top: 30px;
}

.uploadlink {
  color: black;
  text-align: left;
  font-family: 'Montserrat';
  font-size: 19px;
  font-weight: 400;
  margin-top: -5px;
  margin-bottom: -5px;
}

.star {
  color: #7d98ff;
}

.required {
  color: #7d98ff;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  text-align: right;
  margin-top: -40px;
}

.titleadd {
  color: red;
  font-weight: 600;
  font-family: 'Nunito';
  font-size: 20px;
  display: block;
  margin: 25px 0 10px 0;
  text-align: left;
}

.persegiprofile input{
  font-family:'Nunito';
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid lightgrey;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
}

.persegiprofile input [type="submit"]
{
  font-family:'Nunito';
  border-bottom: none;
  background: grey;
  color: #fff;
  margin-bottom: 0;
  left: 10px;
  font-size: 18px;
  font-weight: 600;
}

.persegiprofile form div {
  position: relative;
}

.persegiprofile form div label {
  font-family:'Nunito';
  position: absolute;
  top: -12px;
  left: 0;
  color: #999;
  transition: .5s;
  pointer-events: none;
  font-size: 18px;
  font-weight: 600;
}

/* gender option */
.gender {
  text-align: left;
  margin: -30px 0 -30px 0px;
  font-family:'Nunito';
  font-size: 18px;
  font-weight: 600;
  color: #999;
}

/* label radio gender */
.radiogender {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  color: #999;
  margin-left: '30px';
  margin-top: -50px;
}

/* input radio gender */
/* male */
.optgendermale {
  margin-top: 50px;
}

/* female */
.optgenderfemale {
  margin-left: 10px;
  height: 30px;
  margin-top: 100px;
}

/* date of birth */
.dateofbirth {
  text-align: left;
  margin: -10px 0 -30px -20px;
  font-family:'Nunito';
  font-size: 18px;
  font-weight: 600;
  color: #5c5c5c;
}

.datebirth {
  text-align: left;
  margin: 40px 0 -20px -20px;
  font-family:'Nunito';
  font-size: 18px;
  font-weight: 600;
  color: #999;
}

.rdobtn{
  text-align: left!important ;
  align-content: flex-start;
  margin-top: 40px;
  font-size: 17px;
  margin-left: 0px;
}

/* from date input form */
.from {
  text-align: left;
  margin: -30px 20px -30px -20px;
  font-family:'Nunito';
  font-size: 18px;
  font-weight: 600;
  color: #5c5c5c;
}

/* from month and year */
.fromfrom {
  text-align: left;
  margin: 40px 0 -20px -20px;
  font-family:'Nunito';
  font-size: 18px;
  font-weight: 600;
  color: #999;
}

/* month year to */
.until {
  text-align: left;
  margin: 0 0 -20px 130px;
  font-family:'Nunito';
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

/* arrow */
.arrowright {
  margin: 10px 0 0 133px;
  color: red;
}

/* to month and year */
.fromto {
  text-align: left;
  margin: -47px 0 -20px 190px;
  font-family:'Nunito';
  font-size: 18px;
  font-weight: 600;
  color: #999;
}

.roundicon {
  color: red;
  margin-left: -350px;
}

/* icon button Portfolio */
/* icon button upload */
.iconupload {
  text-align: center;
  margin-right: 16px;
  width: 8%;
}

/* icon button link */
.iconlink {
  text-align: center;
  margin-right: 16px;
  width: 8%;
}

/* icon button sertifikat */
/* icon button large */
.iconuploadsertifikat {
  text-align: center;
  margin-right: 16px;
  width: 4%;
}

.iconupload {
  text-align: center;
  width: 8%;
}

.iconlink {
  text-align: center;
  width: 8%;
}

.dftrskl{
  font-family: 'Nunito';
  border-bottom: 2px solid lightgrey;
  padding-bottom: 5px;
  font-size: 18px;
  margin-top: 15px;
}

.dftrskla{
  font-family: 'Nunito';
  border-bottom: 2px solid lightgrey;
  padding-bottom: 5px;
  font-size: 18px;
  margin-top: 25px;
}

.inputskil {
  color: red!important;
  font-family: 'Nunito';
  margin-right: 40px;
  margin-bottom: 0px!important;
  padding-right: -70px;
  padding-top: 20px!important;
  width: 50vw!important;
  border: none!important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}

.pendidikan {
  background-color: #FFF;
  height: 100%;
  overflow: hidden;
}

.btnpendidikan {
padding: 25px 0 30px 0;
border-radius: 0; 
border: 2px solid;
font-family: 'Montserrat';
color:'#FFF';
font-weight: 500;
}

.pengalaman {
  background-color: #FFF;
  height: 100%;
  overflow: hidden;
}

.btnpengalaman {
padding: 25px 0 30px 0;
border-radius: 0; 
border: 2px solid;
font-family: 'Montserrat';
font-weight: 500;
}

.upload {
  background-color: #FFF;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.btnupload {
padding: 25px 0 25px 0;
border-radius: 0; 
border: 2px solid;
font-family: 'Montserrat';

font-weight: 500;
}

.divadskl{
  margin: 0 -80px 0 40px;
  border: 1px solid red;
}

.link {
  background-color: #FFF;
  height: 100%;
  overflow: hidden;
}

.btnlink {
padding: 25px 0 25px 0;
border-radius: 0; 
border: 2px solid;
font-family: 'Montserrat';
font-weight: 500;
}

.sertifikat {
  background-color: #FFF;
  height: 100%;
  overflow: hidden;
}

.btnsertifikat {
padding: 25px 0 30px 0;
border-radius: 0; 
border: 2px solid;
font-family: 'Montserrat';
font-weight: 500;
}

.btnskill {
  background: lightgrey;
  color: #000;
  margin-right: 20px;
  border-radius: 0;
  font-family: 'Nunito';
  background-color: red;
color: #FFF;
}

.projects {
  background-color: #FFF;
  height: 100%;
  overflow: hidden;
}

.btnprojects {
padding: 25px 0 30px 0;
border-radius: 0; 
border: 2px solid;
font-family: 'Montserrat';
background-color: #FFF;
color: #ff003a;
font-weight: 500;
}

.btnbatal {
  font-family: 'Nunito';
  border-radius: 1;
  margin-right: 20px;
  margin-bottom: 50px;
  border: 2px solid #ff003a;
  outline: #ff003a;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 25px 8px 25px;
}

.btnselesai {
  font-family: 'Nunito';
  border-radius: 1;
  margin-bottom: 50px;
  border: 2px solid #ff003a;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 25px 8px 25px;
}

.btnsetuju {
  font-family: 'Montserrat';
  border-radius: 3;
  border: 2px solid #FFF;
  color: #ff003a;
  background: #FFF;
  font-size: 22px;
  font-weight: 300;
  margin-top: 40px;
  padding: 10px 35px 10px 35px;
}

.fmbm {
  color: #555761;
  font-family: 'Nunito';
  font-size: 15px;
  font-weight: 450;
  /* display: block; */
  text-align: left;
  margin-bottom: 0;
}

.fmbmb {
  color: #555761;
  font-family: 'Nunito';
  font-size: 15px;
  font-weight: 450;
  /* display: block; */
  text-align: left;
  margin-bottom: 0;
  /* margin-top: -10px; */
}

.design{
  background-color: #FFF;
  height: 100%;
  overflow: hidden;
}

.btndesign {
  border-radius: 50px;
  font-weight: 600;
  color: #FFF;
  background: #ff003a;
}

.schol{
  margin-left: 40px;
}

.dateright {
  color: red;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 600;
  display: block;
  text-align: right;
  margin-right: -40px;
}

.daterightproject {
  color: red;
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 600;
  display: block;
  text-align: right;
  margin-right: -35px;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}

.txtex {
  margin: 0 10px 0 50px;
  color: #555761;
  font-family: 'Nunito';
  font-size: 18px;
  font-weight: 450;
  display: block;
  text-align: left;
}

.txtexker{
  margin: 10px 10px 0 55px;
  color: #555761;
  font-family: 'Nunito';
  font-size: 18px;
  font-weight: 450;
  display: block;
  text-align:left;
}

.seepro {
  color: #7d98ff;
  margin-left: 50px;
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 600;
}

@media only screen and (max-width: 767px){
  .schol{
    margin-left: 0px;
  }
}


@media only screen and (max-width: 575px){
  .schol{
    margin-left: 40px;
  }
  .dateright {
    color: red;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 600;
    display: block;
    text-align: left;
    margin-right: -40px;
  }
  
}



@media only screen and (max-width: 400px){
  .btnpendidikan{
    font-size: 15px;
  }
  .btnpengalaman{
    font-size: 13px;
  }
  .btnprojects{
    font-size: 18px;
  }
  .upldlnk{
    flex: 0 0 0%!important;
    max-width: 100%!important;
  }
  .btnupload{
    padding: 25px 50px 25px 50px;
    margin-bottom: 10px;
  }
  .btnlink{
    padding: 25px 65px 25px 66px;
    margin-top: 10px;
  }

  .divbtncando{
    justify-content: center!important
  }
  .divadskl{
    margin: 0px;
    width: 230px;
    border: 1px solid red;
  }
  .inputskil{
    width: 110px!important;
  }
}