.joinbootcamp {
  color: #3B3B3B;
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 36px;
  display: block;
  margin-left: -5px;
}

.profilebootcamp {
  color: #666666;
  font-weight: 400;
  font-family: 'Nunito';
  font-size: 23.5px;
  font-weight: 500;
  display: block;
  margin: 15px 0 75px 0;
}

/* box profile */
.persegiprofile{
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  box-shadow: 0 0 20px 1px rgba(136, 136, 136, 0.4);
  background: #fff;
  padding: 40px;
  margin-bottom: 50px;
}

.parttext {
  color: #000;
  font-weight: 700;
  font-family:'Montserrat';
  font-size: 25px;
  display: block;
  text-align: left;
}

.parttextprojects {
  color: #000;
  font-weight: 700;
  font-family:'Montserrat';
  font-size: 25px;
  display: block;
  text-align: left;
  margin-top: 30px;
}

.uploadlink {
  color: black;
  text-align: left;
  font-family: 'Montserrat';
  font-size: 19px;
  font-weight: 400;
  margin-top: -5px;
  margin-bottom: -5px;
}

.star {
  color: #7d98ff;
}

.required {
  color: #7d98ff;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  text-align: right;
  margin-top: -40px;
}

.titleadd {
  color: red;
  font-weight: 600;
  font-family: 'Nunito';
  font-size: 20px;
  display: block;
  margin: 25px 0 10px 0;
  text-align: left;
}

.persegiprofile input{
  font-family:'Nunito';
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid lightgrey;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
}

.persegiprofile input [type="submit"]
{
  font-family:'Nunito';
  border-bottom: none;
  background: grey;
  color: #fff;
  margin-bottom: 0;
  left: 10px;
  font-size: 18px;
  font-weight: 600;
}

.persegiprofile form div {
  position: relative;
}
.persegiprofile form div label {
  font-family:'Nunito';
  position: absolute;
  top: -12px;
  left: 0;
  color: #999;
  transition: .5s;
  pointer-events: none;
  font-size: 18px;
  font-weight: 600;
}

/* gender option */
.gender {
  text-align: left;
  margin: -30px 0 -30px -20px;
  font-family:'Nunito';
  font-size: 18px;
  font-weight: 600;
  color: #999;
}

/* label radio gender */
.radiogender {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  color: #999;
  margin-left: '30px';
  margin-top: -50px;
}

/* input radio gender */
/* male */
.optgendermale {
  margin-top: 50px;
}

/* female */
.optgenderfemale {
  margin-left: 10px;
  height: 30px;
  margin-top: 100px;
}

/* date of birth */
.dateofbirth {
  text-align: left;
  margin: 20px 0 -30px -20px;
  font-family:'Nunito';
  font-size: 18px;
  font-weight: 600;
  color: #5c5c5c;
}

.datebirth {
  text-align: left;
  margin: 40px 0 -20px -20px;
  font-family:'Nunito';
  font-size: 18px;
  font-weight: 600;
  color: #999;
}

/* section date of birth */
.optdate {
  margin-top: 20px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid lightgrey; 
  font-family: 'Nunito';
  text-align: left;
  font-size: 16px;
  margin-right: 80px;
  margin-left: -10px;
}

/* from date input form */
.from {
  text-align: left;
  margin: -30px 20px -30px -20px;
  font-family:'Nunito';
  font-size: 18px;
  font-weight: 600;
  color: #5c5c5c;
}

/* from month and year */
.fromfrom {
  text-align: left;
  margin: 40px 0 -20px -20px;
  font-family:'Nunito';
  font-size: 18px;
  font-weight: 600;
  color: #999;
}

/* month year to */
.until {
  text-align: left;
  margin: 0 0 -10px 243px!important;
  font-family:'Nunito';
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

/* arrow */
.arrowright {
  margin: -10px 0 0 246px!important;
  color: red;
}

/* to month and year */
.fromto {
  text-align: left;
  margin: -47px 0 -20px 300px!important;
  font-family:'Nunito';
  font-size: 18px;
  font-weight: 600;
  color: #999;
}

.mylf{
  margin-left: 20px;
}

.drpdnyr{
  margin-left: 50px;
}

.drpdndt{
  margin-top: -45px;
}

/* icon button Portfolio */
/* icon button upload */
.iconupload {
  text-align: center;
  margin-right: 16px;
  width: 8%;
}

/* icon button link */
.iconlink {
  text-align: center;
  margin-right: 16px;
  width: 8%;
}

/* icon button sertifikat */
/* icon button large */
.iconuploadsertifikat {
  text-align: center;
  margin-right: 16px;
  width: 4%;
}

.dftrskl{
  font-family: 'Nunito';
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
  font-size: 18px;
  margin-top: 15px;
}

.dftrskla{
  font-family: 'Nunito';
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
  font-size: 18px;
  margin-top: 25px;
}

.inputskil {
  color: red;
  width: 100%;
  font-family: 'Nunito';
  margin-right: 40px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-right: -70px;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}

.pendidikan {
  background-color: #FFF;
  height: 100%;
  overflow: hidden;
}

.btnpendidikan {
padding: 25px 0 30px 0;
border-radius: 0; 
border: 2px solid;
font-family: 'Montserrat';
font-weight: 500;
}

.pengalaman {
  background-color: #FFF;
  height: 100%;
  overflow: hidden;
}

.btnpengalaman {
padding: 25px 0 30px 0;
border-radius: 0; 
border: 2px solid;
font-family: 'Montserrat';
font-weight: 500;
}

.upload {
  background-color: #FFF;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.btnupload {
padding: 25px 0 25px 0;
border-radius: 0; 
text-align: center;
border: 2px solid;
font-family: 'Montserrat';
font-weight: 500;
}

.link {
  background-color: #FFF;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.btnlink {
padding: 25px 0 25px 0;
border-radius: 0; 
text-align: center;
border: 2px solid;
font-family: 'Montserrat';
font-weight: 500;
}

.sertifikat {
  background-color: #FFF;
  height: 100%;
  overflow: hidden;
}

.btnsertifikat {
padding: 25px 0 30px 0;
border-radius: 0; 
border: 2px solid;
font-family: 'Montserrat';
font-weight: 500;
}

.btnskill {
  background: lightgrey;
  color: #000;
  margin-right: 20px;
  border-radius: 0;
  font-family: 'Nunito';
}

.projects {
  background-color: #FFF;
  height: 100%;
  overflow: hidden;
}

.btnprojects {
padding: 25px 0 30px 0;
border-radius: 0; 
border: 2px solid;
font-family: 'Montserrat';
font-weight: 500;
}

.btnbatal {
  font-family: 'Nunito';
  border-radius: 1;
  margin-right: 20px;
  margin-bottom: 50px;
  border: 2px solid;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 25px 8px 25px;
}

.btnselesai {
  font-family: 'Nunito';
  border-radius: 1;
  margin-bottom: 50px;
  border: 2px solid #d2002f;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 25px 8px 25px;
}

.btnfinish {
  font-family: 'Montserrat';
  border-radius: 3;
  border: 2px solid #d2002f;
  font-size: 22px;
  font-weight: 300;
  margin-top: 40px;
  padding: 10px 35px 10px 35px;
}


@media only screen and (max-width: 550px) {
  .persegiprofile {
      width: 450px; 
      box-shadow: 0 0 20px 1px rgba (0,0,0,0.2);   
  }
}