.all{
    background-color: #f7f7f7;
    margin: 0px 10% 0px 10%;

}

.headline {
    border: 5px;
    height: 30px;
    color: #f2001d;
    background-color: #f2001d;
}

.bodyraport {
    margin: 70px 10px 20px 10px;
}

.headeraport {
    transform: scale(0.90); 
}

.txtright {
    margin-top: 30px;
    margin-left: 50px;
    text-shadow: 4px 4px 4px #aaa;
}

.dwcamp {
    font-family: 'Baloo Thambi', cursive;
    font-size: 75px;
    padding-top: 2%;
    color: #f2001d;
    line-break: strict;
    word-break: normal;
    transform: scale(0.90); 
}

.progresreport {
    font-family: 'Lato', sans-serif;
    padding-top: 40px;
    font-size: 20px;
    color: black;
    word-spacing: 5px;
    letter-spacing: 10px;
}

.bio {
    margin-top: 100px;
}

.name {
    color: black;
    font-family: 'Lato', sans-serif;
    word-spacing: 2px;
    font-size: 15px;
}

.number {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding-top: 10px;   
    word-spacing: 2px;

}

.line {
    background-color: #f2001d;
    height: 3px;
    margin-top: -10px;
}

.txtsys {
    margin-top: 50px;
}

.grading {
    color: #f2001d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.nilai {
    color: black;
}


/* ====================
  TABLE Section
=======================*/


.tablenilai {
    margin-top: 100px;
}

table.table-bordered{
    border:2px solid #f2001d;
    margin-top:20px;
}

table.table-bordered > thead > tr > th{
    border:2px solid #f2001d;
    height: 50px;
}

table.table-bordered > tbody > tr > td{
    border:2px solid #f2001d;
    background-color: #ffe5e5;
}

.headtable {
    color: #f2001d;
    background-color: #f2001d;
}

.left {
    width: 700px;
}

.nilaitable {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.bottomline {
    border: 5px;
    height: 30px;
    margin-top: 100px;
    color: #f2001d;
    background-color: #f2001d;
}



/* ====================
  RESPONSIVE PAGE       
=======================*/



@media only screen and (max-width: 1323px) {
    .dwcamp {
        font-size: 50px;
        transform: scale(1.2); 
        padding-left: 60px;
    }

    .progresreport{
        transform: scale(1.1);
        padding-left: 60px;
        font-size: 15px;
    }

    .logo {
        transform: scale(0.99); 
    }
}


@media only screen and (max-width: 1033px) {
    .dwcamp {
        font-size: 45px;
        transform: scale(1.2); 
        padding-left: 50px;
    }

    .progresreport{
        transform: scale(1.1);
        padding-left: 50px;
        font-size: 13px;
    }

    .logo {
        transform: scale(0.99); 
    }
}

@media only screen and (max-width: 992px) {
    .dwcamp {
        font-size: 40px;
        transform: scale(1.3); 
        margin-left: -50px;
    }

    .progresreport{
        transform: scale(1.1);
        margin-left: -50px;
    }

    .logo {
        transform: scale(0.80); 
    }
}

@media only screen and (max-width: 871px) {
    .dwcamp {
        font-size: 35px;
        transform: scale(1.4); 
        margin-left: -30px;
    }

    .progresreport{
        transform: scale(1.2);
        margin-left: -30px;
    }

    .logo {
        transform: scale(0.80); 
    }
}

@media only screen and (max-width: 834px) {
    .dwcamp {
        font-size: 30;
        transform: scale(1.4); 
        margin-left: -50px;
    }

    .progresreport{
        transform: scale(1.1);
        margin-left: -50px;
    }

    .logo {
        transform: scale(0.70); 
    }
}

@media only screen and (max-width: 809px) {
    .dwcamp {
        font-size: 25px;
        transform: scale(1.4); 
    }

    .progresreport{
        transform: scale(0.9)
    }

    .logo {
        transform: scale(0.70); 
    }
}

@media only screen and (max-width: 767px) {
    .dwcamp {
        font-size: 25px;
        transform: scale(1.4); 
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .progresreport{
        font-size: 12px;
        transform: scale(0.8);
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .logo {
        transform: scale(0.80); 
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: table-cell;
    }
}

@media only screen and (max-width: 656px) {
    .dwcamp {
        font-size: 25px;
        transform: scale(1.4); 
        margin-left: -90px;
    }

    .progresreport{
        font-size: 12px;
        transform: scale(0.8);
        margin-left: -90px;
    }

    .logo {
        transform: scale(0.60); 
    }
}


@media only screen and (max-width: 595px) {
    .dwcamp {
        font-size: 20px;
        transform: scale(1.4); 
        margin-left: -90px;
    }

    .progresreport{
        font-size: 11px;
        transform: scale(0.8);
        margin-left: -90px;
    }

    .logo {
        transform: scale(0.60); 
    }
}


@media only screen and (max-width: 583px) {
    .dwcamp {
        font-size: 19px;
        transform: scale(1.4); 
    }

    .progresreport{
        font-size: 10px;
        transform: scale(0.8);
    }

    .logo {
        transform: scale(0.60); 
    }
}


@media only screen and (max-width: 573px) {
    .dwcamp {
        font-size: 25px;
        transform: scale(1.4); 
        vertical-align: middle;
        text-align: center;
    }

    .progresreport{
        font-size: 16px;
        transform: scale(0.8);
        vertical-align: middle;
        text-align: center;
    }

    .logo {
        position: relative;
        transform: scale(0.80); 
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: table-cell;
    }
}

@media only screen and (max-width: 376px) {
    .dwcamp {
        font-size: 25px;
        transform: scale(1); 
        vertical-align: middle;
        text-align: center;
    }

    .progresreport{
        font-size: 16px;
        transform: scale(0.8);
        vertical-align: middle;
        text-align: center;
    }

    .logo {
        position: relative;
        transform: scale(0.80); 
        margin-left: 40%;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: table-cell;
    }
}
