.gmbrlanding {
    background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(253, 245, 255, 0.8) ), url("https://cdn-images-1.medium.com/max/2600/0*LWGNRvaAD7jRra_L.");
    width: 100%;
    padding: 0;
    background-size: cover;
    height: 500px;
    padding: 20px;
}
