.Countdown{
    margin: 5px auto;
    padding-bottom: 20px;
  }
  
  .Countdown-col{
    display: inline-block;
  }
  
  .Countdown-col-element{
    display: inline-block;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
  }
  
  .Countdown-col-element strong{
    font-size: 50px;
  }

  .padten {
    font-family: 'Nunito';
    margin: 0;
    padding: 10px;
    border-radius:4px;
  }

  .hjmd {
    font-family: 'Nunito';
    font-size: 18px;
  }

  .td {
    font-family: 'Nunito';
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -5px; 
  }


@media only screen and (max-width: 767px) {
  
  .Countdown{
    margin: 5px auto;
    padding-bottom: 10px;
  }
  
  .Countdown-col-element{
    display: inline-block;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
  }
  
  .Countdown-col-element strong{
    font-size: 40px;
  }  
}


@media only screen and (max-width: 416px) {
  
  .Countdown-col-element{
    display: inline-block;
    margin: 0 3px;
    display: flex;
    flex-direction: column;
  }
  
  .Countdown-col-element strong{
    font-size: 30px;
  }  
}

@media only screen and (max-width: 366px) {
  
  .Countdown-col-element{
    display: inline-block;
    margin: 0 2px;
    display: flex;
    flex-direction: column;
  }
  
  .Countdown-col-element strong{
    font-size: 25px;
  }  
}

@media only screen and (max-width: 349px) {
  
  .Countdown-col-element{
    display: inline-block;
    margin: 0 1px;
    display: flex;
    flex-direction: column;
  }
  
  .Countdown-col-element strong{
    font-size: 20px;
  }  
}