@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .col-s-1-2{
      width: 200px;
      background-color: #FF6567;
      border-radius: 10px;
      height: 130px;
    }
    .prog-cl{
      width: 80px;
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 10px;
    }
    .dt-gr-cl{
      border-top:solid;
      border-color:#E7E7E7;
      margin-left:45px;
      width: 200px;
    }
    .a-pd-cl{
      color:#FFF;
      margin-Left:20px;
      border-Radius:10px;
      font-size: 20px;
    }
    .prog-cl{
      width: 100px;
      margin-left:50px;
      margin-right:50px;
      border-radius: 10px;

    }
    .dt-dv-pg-cl{
      margin-left:-70px;
      margin-top:20px;
    }
    .ls-dv-cl{
      margin-left: -70px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .col-12-1{
      width: 300px;
      background-color: #FF6567;
      border-radius: 10px;
      height: 130px;
    }
    .prog-gd{
      width: 260px;
      margin-left:20px;
      margin-right:20px;
      border-radius: 10px;
    }
    .submit-gd{
      margin-left: 500px;
    }
    .dt-gr-gd{
      border-top:solid;
      border-color:#E7E7E7;
      margin-left:45px;
      width: 300px;
    }
    .a-pd-gd{
      color:#FFF;
      margin-Left:20px;
      border-Radius:10px;
      font-size: 35px;
    }
    .pd-d-gd{
      margin-left: 0px;
    }
    .dt-dv-pg-gd{
      margin-left:45px;
      margin-top:10px;
    }
    .ls-dv-gd{
      margin-left: 70px;
    }
  }
  @media only screen and (min-width: 375px) {
    .col-xss-1{
        width: 100px;
        height: 50px;
    }
    .ls-dv-cl{
      margin-left: -60px;
    }
  }