*, body{
    margin: 0;
    padding: 0;
}
nav{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #282c34;
    box-shadow: #888;
}
nav ul{
    position: relative;
    top: 20px;
    margin: 0;
    float: right;
    right: 10%;
}
nav ul li{
    float: left;
    display: block;
    font-size: 15px;
    margin: -10px 10px 25px 10px;
    align-self: center;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family:  sans-serif;
    font-size: 15px;
}
nav ul li a:hover{
    color: #55a8fd;
    text-decoration: none;
}

.Hom {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7f7f7;
}

.Hom-body {
  background-color: #f7f7f7;
}

.Hom-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section#silabus{
    position: relative;
    width: 80%;
    text-align: center;
    min-height: 250px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    border-radius: 6px;
    margin-bottom: 20px;
    background-color:  #fff;
    box-shadow: 0 0 7px 0px rgba(136, 136, 136, 0.2);
}

section#batch{
    position: relative;
    width: 80%;
    text-align: center;
    min-height: 250px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    border-radius: 6px;
    margin-bottom: 20px;
    background-color:  #fff;
    box-shadow: 0 0 7px 0px rgba(136, 136, 136, 0.2);
}

.Hom-profile{
  height: 100vmin;
  justify-content: flex-start;
}

.Hom-footer{
  background-color: #dedede
}

.Hom-link {
  align-items: center;
  color: #61dafb;
}

section#box-profile{
   position: relative;
   width: 80%;
   min-height: 250px;
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 60px;
   border-radius: 6px;
   margin-bottom: 20px;
   background-color:  #fff;
   box-shadow: 0 0 7px 0px rgba(136, 136, 136, 0.2);
}
#box-profile .img-profile{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 300px;
    float: left;
    margin-top: -10px;
    top: 25px;
    margin-left: 20px;
}
.img-profile .photo{
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -20px;
    border-radius: 300px;
}
.description{
    position: relative;
    width: 400px;
    display: inline-block;
    float: left;
    align-self: center;
    justify-content: center;
    top: 50px;
    margin-left: 40px;
    font-family: sans-serif;
    border-right: 1px solid #efefef;
}
.description h1{
    font-size: 32px;
    margin-bottom: 14px;
}
.description p{
    color: #888;
}
.description .button{
    margin-top: 40px;

}

.information{
    position: relative;
    display: inline-block;
    float: left;
    text-align: left;
    font-family: sans-serif;
    top:45px;
    margin-left: 30px;
}
.information .data{
    display: block;
    width: 100%;
    margin-bottom: 4px;
    height: 36px;
}
.information p.field{
    font-weight: 600;
    width: 150px;
    color: #333;
}
.information .data p{
    float: left;
}

.button{
    position: relative;
    padding:  15px 30px 15px 30px;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    border-radius: 3px;
}

.bg-green{
    background-color: #52dc90;
    color: #fff;
    border: 1px solid #52dc90;
    box-shadow:  0 0 7px 0px #52dc90;
}
.bg-blue{
    background-color: #55a8fd;
    color: #fff;
    box-shadow:  0 0 7px 0 px #55a8fd;
    border: 1px solid #55a8fd;
}

.btn-primary{
  margin-top: 20px;
}

.btn-outline-primary{
  margin-top: 20px;
  margin-left: 15px;
}

.buton{
  width: 500px;
  height: 50px;
}

.border-blue{
    color: #55a8fd;
    border: 1px solid #55a8fd;
}

.editor{
  margin:  20px 50px 30px 50px;
}

.txt{
    width: 1200px;
}

.code {
  margin-left: 1050px;
}

.compiler{
  width: 1000;
  height: 1000
}

.botcam{
    margin-bottom: 20px;
}

.desc{
    text-align: left;
}

.modul{
    color:#212529;
}

.modul:hover {
    text-decoration: none;
    color: #212529;
}

.deck{
    margin:  20px 5px 20px 5px;
}

.image-silabus{
    width: 349px;
    height: 262px;
}
.progressbar-silabus{
    margin-left:10px;
    
}
.bar{
    height: 100%;
}
.image-menu-silabus{
    width: 20px;
    height: 20px;
    margin-right: 40px;
}
.listgrup-silabus{
    text-align: left;
    margin-top: 40px;
}
.ListGrup-Silabus{
    text-align: left;
}
.saya{
    margin-top: 30px;
}